.page-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: var(--spacing-xl);
}

.service-card {
	cursor: default;
}

.service-info .url:hover {
	color: var(--color-text-secondary);
	text-decoration: underline;
}

.modal {
	max-width: 1200px;
}

.modal .form {
	padding: var(--spacing-lg);
}

.modal .error-message {
	margin: var(--spacing-lg);
	margin-bottom: 0;
}
